<template>
  <Dialog :key="$route.fullPath" v-model:visible="this.$store.state.createMovieDialogVisible" closable close-on-escape
          modal>
    <template #header>
      <div>Добавление фильма</div>
    </template>

    <h5>Название фильма</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-user" style="position: relative; left: 25px"/>
            <InputText v-model="name" aria-describedby="name-help" placeholder="Название"
                       type="text"/><br>
            <small v-if="this.$store.state.validation.name" id="name-help" class="p-error">
              {{ this.$store.state.validation.name }}
            </small>
    </span>
    <h5>Время</h5>
    <span class="p-field p-col-12 p-md-4">
            <Calendar v-model="lasting" :showTime="true" :showSeconds="true" :timeOnly="true" dateFormat="hh:mm:ss"/>
      <br>
    </span>


    <template #footer>
      <Button autofocus icon="pi pi-check" label="Добавить" @click="create"/>
    </template>

  </Dialog>
</template>

<script>

import Dialog from 'primevue/dialog';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
import Calendar from 'primevue/calendar';

export default {
  name: "CreateMovie",
  components: {Dialog, InputText, Button, Calendar},
  data() {
    return {
      name: '',
      lasting: '',
      visible: false,
      modal: true,
    }
  },

  methods:
      {
        create() {
          let tempdate = new Date(this.lasting);
          this.lasting = tempdate.getHours() + ":" + tempdate.getMinutes()+ ":" + tempdate.getSeconds();
          this.$store.dispatch('createMovie', {
            name: this.name,
            lasting: this.lasting
          });
        },

      }
}
</script>

<style scoped>

</style>