<template>
  <h1 class="p-text-center">Фильмы</h1>
  <div v-if="this.$store.state.dataPreLoading" style="text-align: center">
    <ProgressSpinner strokeWidth="4" style="width:50px;height:50px"/>
  </div>
  <div v-else>
    <ConfirmDialog></ConfirmDialog>

    <DataView :layout="layout" :value="movies">
      <template #grid="slotProps">
        <div class="p-col-12 p-md-3" style="padding: .5em">
          <div class="product-grid-item card">
            <Card>
              <template #header>
                {{ slotProps.data.name }}
              </template>
              <template #content>


              <!-- Ссылки на локальные изображения потому чт овременно не доступно S3 хранилище -->

                <img :alt="slotProps.data.name" src="..\..\src\assets\movie.png" style="width: 100%"/>


              <div class="p-mt-4" style="text-align: center">
                Продолжительность: {{ slotProps.data.lasting }}
              </div>
              </template>
              <template #footer>

                <Button v-tooltip.bottom="'Удалить фильм'" class="p-button-danger p-button-rounded" icon="pi pi-trash"
                        @click="delMovie(slotProps.data.id)"/>
                <Button v-tooltip.bottom="'Редактировать фильм'" class="p-button-primary p-button-rounded"
                        icon="pi pi-cog"
                        style="margin-left: .5em"/>
              </template>
            </Card>

          </div>
        </div>
      </template>
    </DataView>
  </div>
  <Paginator v-model:rows="rows" :rowsPerPageOptions=[2,5,10,50]
             :totalRecords="total" @page="onPage($event)"></Paginator>
</template>
<script>

import '../state.js'
import router from "../router";
import Paginator from 'primevue/paginator';
import DataView from 'primevue/dataview';
import ProgressSpinner from 'primevue/progressspinner';
import ConfirmDialog from 'primevue/confirmdialog';
import Button from "primevue/button";
import Card from 'primevue/card';

export default {
  name: "Movie",
  components: {Paginator, DataView, ConfirmDialog, ProgressSpinner,Button, Card},
  data() {
    return {
      rows: 5,
      layout: 'grid'
    }
  },
  methods: {
    onPage(event) {
      this.$store.state.pager.perPage = event.rows;
      this.$store.commit("setPage", event.page + 1);
      console.log(event.page);
      this.$store.dispatch('getMovie');
    },
    //Метод для получения возраста из даты рождения

    delMovie(id) {
      this.$confirm.require({
        message: 'Вы действительно хотите удалить фильм (данное действие необратимо)?',
        header: 'Удаление фильм',
        icon: 'pi pi-exclamation-triangle',
        accept: () => {
          this.$store.dispatch('deleteMovie', {id})
        },
        reject: () => {
          //callback to execute when user rejects the action
        }
      });
    },
  },
  computed: {
    movies: function () {
      return this.$store.state.movie;
    },

    total:
        function () {
          return this.$store.state.pager.total;
        }

  },

  mounted() {
    if (this.$store.state.loggedIn) {
      this.$store.dispatch('getMovie');
      this.$store.commit("setLoginError", false);
    } else router.push('/');
  },

}
</script>

<style>
</style>